@model ProjetGestionHotel1.Models.chambre

@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<style>
    .alert {
        border-radius: 30px;
        width: 150px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        margin-left: 65px;
        color: white;
    }
</style>


<div class="hero-wrap" style="background-image: url('/Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <h1 class="mb-4 bread"> Room Details</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="single-slider owl-carousel">
                            @foreach (var item in Model.images)
                            {
                            <div class="item">
                                <div class="room-img" style="background-image: url(data:image/gif;base64,@Convert.ToBase64String(Model.images.FirstOrDefault().image_file));"></div>
                            </div>}
                          
                        </div>
                    </div>
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
                        <div class="row">
                            <div class="col">
                                <h2 class="mb-4">@Model.categorie.prix DH </h2>

                                <div class="d-md-flex mt-5 mb-5">
                                    <ul class="list">
                                        <li><span >Room N°  :</span><span style="margin-left:40px;">@Model.num_chambre</span></li>
                                        <li><span>Category :</span><span style="margin-left:40px;">@Model.categorie.nom_categorie</span></li>
                                    </ul>

                                </div>

                            </div>
                            <div class="col">
                                @if (Model.disponibilite == "available")
                                {<p class="alert" style="background-color:green;"><span style="padding-left:33px;">@Html.DisplayFor(modelItem => Model.disponibilite)</span></p>}

                                @if (Model.disponibilite == "not available")
                                {
                                    <p class="alert" style="background-color:red;"><span style="padding-left:22px;">@Html.DisplayFor(modelItem => Model.disponibilite)</span></p>
                                }

                                @if (Model.disponibilite == "available")
                                {
                                    <button type="submit" style="margin-top:30px;margin-left:60px;" class="book-button" onclick="window.location.href='@Url.Action("Create", "reservations", new {id = Model.id_chambre})';">BOOK NOW</button>}
                            </div>

                        </div>

                        
                                                

                                            
       
                       
                      
                    </div>
                   
                    
                            </div>
                        </div>
            <div class="col" style="width:100px;">
                @{Html.RenderAction("CategorieListe", "Categorie");}
            </div>
                    </div>
                </div>
            <!-- .col-md-8 -->
           
                   
</section> <!-- .section -->
