@model IEnumerable<ProjetGestionHotel1.Models.commentaire>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.text_commentaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prediction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.client.nom_client)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.text_commentaire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prediction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.client.nom_client)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_commentaire }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_commentaire }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_commentaire })
        </td>
    </tr>
}

</table>
