@model ProjetGestionHotel.Models.administrateur

@{
    ViewBag.Title = "Delete";
}




@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-scroller">

    <!-- partial:partials/_navbar.html -->
    <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
            <div class="me-3">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
            </div>
            <div>
                <a class="navbar-brand brand-logo" href="index.html">
                    A & N Hotel
                </a>
                <a class="navbar-brand brand-logo-mini" href="index.html">
                    <img src="~/Content/templateAdmin/images/logo-mini.svg" alt="logo" />
                </a>
            </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
            <ul class="navbar-nav">
                <li class="nav-item font-weight-semibold d-none d-lg-block ms-0">
                    <h1 class="welcome-text">Hello, <span class="text-black fw-bold">Admin</span></h1>
                    <h3 class="welcome-sub-text">Your performance summary this week </h3>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown d-none d-lg-block">
                    <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false"> Select Category </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                        <a class="dropdown-item py-3">
                            <p class="mb-0 font-weight-medium float-left">Select category</p>
                        </a>
                        <div class="dropdown-divider"></div>

                        <a class="dropdown-item preview-item">
                            <div class="preview-item-content flex-grow py-2">
                                <p class="preview-subject ellipsis font-weight-medium text-dark">Bootstrap Bundle </p>
                                <p class="fw-light small-text mb-0">This is a Bundle featuring 16 unique dashboards</p>
                            </div>
                        </a>

                    </div>
                </li>
                <li class="nav-item d-none d-lg-block">
                    <div id="datepicker-popup" class="input-group date datepicker navbar-date-picker">
                        <span class="input-group-addon input-group-prepend border-right">
                            <span class="icon-calendar input-group-text calendar-icon"></span>
                        </span>
                        <input type="text" class="form-control">
                    </div>
                </li>
                <li class="nav-item">
                    <form class="search-form" action="#">
                        <i class="icon-search"></i>
                        <input type="search" class="form-control" placeholder="Search Here" title="Search here">
                    </form>
                </li>


                <li class="nav-item dropdown d-none d-lg-block user-dropdown">
                    <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="img-xs rounded-circle" src="~/Content/templateAdmin/images/faces/avatar.png" alt="Profile image">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                        <div class="dropdown-header text-center">
                            <img class="img-md rounded-circle" src="~/Content/templateAdmin/images/faces/.png" alt="Profile image">
                            <p class="mb-1 mt-3 font-weight-semibold">Admin</p>
                            <p class="fw-light text-muted mb-0">A&Nhotel.admin@gmail.com</p>
                        </div>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
                        <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="ti-settings"></i></div>
            <div id="theme-settings" class="settings-panel">
                <i class="settings-close ti-close"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border me-3"></div>Light</div>
                <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border me-3"></div>Dark</div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default"></div>
                </div>
            </div>
        </div>

        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="mdi mdi-grid-large menu-icon"></i>
                        <span class="menu-title">Accueil</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                        <i class="menu-icon mdi mdi-floor-plan"></i>
                        <span class="menu-title"> Elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-sm-8 offset-sm-2">
                        <div class="card ">
                            <div class="card-body ">
                                <h4 class="card-title">Delete a Manager </h4>
                                <p class="card-description">
                                    <h5>Are you sure you want to delete this?</h5>
                                </p>
                                <div>
                                    <dl class="dl-horizontal">
                                        <dt>
                                            @Html.LabelFor(model => model.nom_admin, "Last Name :", htmlAttributes: new { @class = "col-sm-4  " })
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.nom_admin)
                                        </dd>

                                        <dt>
                                            @Html.LabelFor(model => model.prenom_admin, "First Name :", htmlAttributes: new { @class = "col-sm-4  " })
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.prenom_admin)
                                        </dd>

                                        <dt>
                                            @Html.LabelFor(model => model.email_admin, "Email :")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.email_admin)
                                        </dd>

                                        <dt>
                                            @Html.LabelFor(model => model.tel_admin, "Mobile phone :")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.tel_admin)
                                        </dd>

                                        <dt>
                                            @Html.LabelFor(model => model.login_admin, "Login :")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.login_admin)
                                        </dd>

                                        <dt>
                                            @Html.LabelFor(model => model.mdp_admin, "Password :")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.mdp_admin)
                                        </dd>

                                        <dt>
                                            @Html.LabelFor(model => model.is_superadmin, "Is superAdmin :")
                                        </dt>

                                        <dd>
                                            @Html.DisplayFor(model => model.is_superadmin)
                                        </dd>

                                    </dl>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">

                        <p style="margin-left:200px; margin-top:20px;">
                            @Html.ActionLink(" Back", "Index", null, new { @class = "btn btn-primary me-2 text-white mdi mdi-arrow-left-bold" })|
                            <input type="submit" value="Delete" class="btn btn-primary me-2 text-white" />
                        </p>
                    </div>
                }


            </div>
        </div>
    </div>
</div>




